@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    width: 100%;
    height: px2rem(60px);
    line-height: px2rem(60px);
    background: #68dbce;
    padding-left: 10px;
    .search {
        width: 80%;
        color: #fff;
        border-radius: px2rem(20px);
        height: px2rem(30px);
        padding-left: 30px;
        border: none;
        border: 1px solid #000;
        background: #68dbce;
    }
    .word {
        color: #fff;
        font-size: px2rem(25px);
        padding-right: 10px;
    }
}